.login-form{
    width: 32em;
    min-height: 20em;
    margin: auto;
    height:auto;
    display: grid;
    grid-template-columns: 50em;
    grid-template-rows: 1fr 1fr;    
}
.login-input{
    all: unset;
    width: 30em;
    height: 5em;
    border-radius: 2em;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
}